body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16pt;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.left-hand-side, .right-hand-side {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    text-align: center;
}

button {
    padding: 3px 5px;
    font-family: inherit;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    border: 1pt solid white;
}